.idea
composer.lock
/runtime/
/.settings/
/composer.lock
/.buildpath
/.project
*.log
/vendor/ezyang/
/.ai/mcp/mcp.json
/dbdump/dp_admin_access.sql
/dbdump/dp_admin_action.sql
/dbdump/dp_admin_attachment.sql
/dbdump/dp_admin_config.sql
/dbdump/dp_admin_hook.sql
/dbdump/dp_admin_hook_plugin.sql
/dbdump/dp_admin_icon.sql
/dbdump/dp_admin_icon_list.sql
/dbdump/dp_admin_log.sql
/dbdump/dp_admin_menu.sql
/dbdump/dp_admin_message.sql
/dbdump/dp_admin_module.sql
/dbdump/dp_admin_packet.sql
/dbdump/dp_admin_plugin.sql
/dbdump/dp_admin_role.sql
/dbdump/dp_admin_user.sql
