{extend name="layout" /}

{block name="page-header"}{/block}

{block name="content"}
{notempty name="default_pass"}
<div class="alert alert-danger alert-dismissable">
    <button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button>
    <h3 class="font-w300 push-15">安全提示</h3>
    <p>超级管理员默认密码未修改，建议马上 <a class="alert-link link-effect" href="{:url('user/index/edit', ['id' => 1])}">修改</a>。</p>
</div>
{/notempty}
<div class="alert alert-info alert-dismissable">
    <button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button>
    <h3 class="font-w300 push-15">欢迎使用{$web_site_title}系统</h3>
</div>
<div class="alert alert-success alert-dismissable">
    <button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button>
    <h3 class="font-w300 push-15"><i class="fa fa-check-circle"></i> 系统运行正常</h3>
    <p>暂无紧急通知，系统运行状态良好。</p>
</div>

{notempty name="modules"}
<div class="row">
    <div class="block">
        <div class="block-header bg-gray-lighter">
            <h3 class="block-title"><i class="fa fa-th-large"></i> 系统模块入口</h3>
        </div>
        <div class="block-content">
            <div class="row items-push">
                {volist name="modules" id="module"}
                <div class="col-sm-6 col-lg-4">
                    <a href="{:url($module['url_value'])}" class="block block-link-hover3 text-center bg-gray-lighter">
                        <div class="block-content block-content-full">
                            <div class="item item-circle bg-primary-lighter text-primary push-10">
                                <i class="{$module['icon']} text-xl"></i>
                            </div>
                            <div class="h4 font-w600">{$module['title']}</div>
                            {if condition="$module['stats']['total'] > 0"}
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="text-muted">总数</div>
                                    <div class="font-w600">{$module['stats']['total']}</div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="text-muted">待处理</div>
                                    <div class="font-w600 text-warning">{$module['stats']['pending']}</div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="text-muted">已完成</div>
                                    <div class="font-w600 text-success">{$module['stats']['completed']}</div>
                                </div>
                            </div>
                            {/if}
                        </div>
                    </a>
                </div>
                {/volist}
            </div>
        </div>
    </div>
</div>
{/notempty}

{// 后台首页钩子}
<div class="row">
    {:hook('admin_index')}
</div>
{/block}

{block name="script"}
<script>
    $(document).ready(function () {
        $.ajax({
            url: '{:url("checkUpdate")}',
            type: 'GET'
        }).done(function (data) {
            $('#product-auth').html(data.auth);
            $('#product-update').html($('#product-update').text() + ' ' + data.update);
        });
    });
</script>
{/block}