{extend name="$_admin_base_layout" /}

{block name="content"}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <i class="fa fa-bar-chart mr-5"></i>
                协办单统计
                <small>Statistics</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="block">
                <div class="block-header bg-primary">
                    <h3 class="block-title text-white">
                        <i class="fa fa-handshake-o mr-5 text-white"></i>
                        总协办单
                    </h3>
                </div>
                <div class="block-content text-center py-20" style="padding-bottom: 40px;">
                    <div class="text-primary">
                        <i class="fa fa-file-text-o fa-5x mb-10"></i>
                        <div class="text-5xl font-bold mt-5">{$total}</div>
                        <p class="text-lg mt-5">协办单总数</p>
                    </div>
                    <a href="{:url('Cooperate/index')}" class="btn btn-primary mt-10">查看详情</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="block">
                <div class="block-header bg-warning">
                    <h3 class="block-title text-white">
                        <i class="fa fa-clock-o mr-5 text-white"></i>
                        进行中
                    </h3>
                </div>
                <div class="block-content text-center py-20" style="padding-bottom: 40px;">
                    <div class="text-warning">
                        <i class="fa fa-spinner fa-5x mb-10"></i>
                        <div class="text-5xl font-bold mt-5">{$pending}</div>
                        <p class="text-lg mt-5">进行中的协办单</p>
                    </div>
                    <a href="{:url('Cooperate/index')}" class="btn btn-warning mt-10">查看详情</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="block">
                <div class="block-header bg-success">
                    <h3 class="block-title text-white">
                        <i class="fa fa-check-circle mr-5 text-white"></i>
                        已完成
                    </h3>
                </div>
                <div class="block-content text-center py-20" style="padding-bottom: 40px;">
                    <div class="text-success">
                        <i class="fa fa-check-circle-o fa-5x mb-10"></i>
                        <div class="text-5xl font-bold mt-5">{$closed}</div>
                        <p class="text-lg mt-5">已完成的协办单</p>
                    </div>
                    <a href="{:url('CooperateFinished/index')}" class="btn btn-success mt-10">查看详情</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="block">
                <div class="block-header bg-danger">
                    <h3 class="block-title text-white">
                        <i class="fa fa-ban mr-5 text-white"></i>
                        已作废
                    </h3>
                </div>
                <div class="block-content text-center py-20" style="padding-bottom: 40px;">
                    <div class="text-danger">
                        <i class="fa fa-trash-o fa-5x mb-10"></i>
                        <div class="text-5xl font-bold mt-5">{$canceled}</div>
                        <p class="text-lg mt-5">已作废的协办单</p>
                    </div>
                    <a href="{:url('CooperateCanceled/index')}" class="btn btn-danger mt-10">查看详情</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="block">
                <div class="block-header bg-gray-lighter">
                    <h3 class="block-title"><i class="fa fa-flag mr-5"></i>优先级分布</h3>
                </div>
                <div class="block-content">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>优先级</th>
                                <th>数量</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="priority_stats" id="item"}
                            <tr>
                                <td>{$item.priority_text}</td>
                                <td>{$item.count}</td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                </div>
                <div class="block-content bg-gray-lighter text-center">
                    <a href="{:url('Cooperate/index')}" class="btn btn-info">查看全部协办单</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="block">
                <div class="block-header bg-gray-lighter">
                    <h3 class="block-title"><i class="fa fa-plus-circle mr-5"></i>快捷操作</h3>
                </div>
                <div class="block-content text-center py-20">
                    <div class="row">
                        <div class="col-md-6 mb-10">
                            <a href="{:url('Cooperate/add')}" class="btn btn-primary btn-block">
                                <i class="fa fa-plus-circle mr-2"></i>新增协办单
                            </a>
                        </div>
                        <div class="col-md-6 mb-10">
                            <a href="{:url('CooperateMy/index')}" class="btn btn-info btn-block">
                                <i class="fa fa-user-plus mr-2"></i>我收到的协办单
                            </a>
                        </div>
                        <div class="col-md-6 mb-10">
                            <a href="{:url('CooperateCreated/index')}" class="btn btn-success btn-block">
                                <i class="fa fa-file-text mr-2"></i>我创建的
                            </a>
                        </div>
                        <div class="col-md-6 mb-10">
                            <a href="{:url('CooperateFinished/index')}" class="btn btn-warning btn-block">
                                <i class="fa fa-check-circle-o mr-2"></i>已完成
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}